<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<title>Home</title>
</head>
	<body>
		<div class="split left">
		  	<a href="http://localhost:5000/search" class="fill-div">
			  	<div class="centered">
			    	<img src="../static/img/search.png" alt="search">
			    	<h2>Search</h2>
			    	<p>Here you can search</p>
			  	</div>
		  	</a>
		</div>

		<div class="split right">
			<a href="http://localhost:5000/insert" class="fill-div">
				<div class="centered">
			    	<img src="../static/img/manage.png" alt="manage">
			    	<h2>Manage</h2>
			    	<p>Here you can manage your data</p>
			  	</div>
		  	</a>
		</div>
	</body>
</html>