<!DOCTYPE html>
<html>
	<head>
		<title>Manage Data</title>
		<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../static/css/app.css">
		<link rel="stylesheet" type="text/css" href="../static/css/foundation.css">
		<link rel="stylesheet" type="text/css" href="../static/css/foundation.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/manage.css">
	</head>
	<body>
		<button><a href="http://localhost:5000">Home</a></button>
		<img src="../static/img/wip.png">
	</body>
</html>